@charset "utf-8";

/* Body Styles */
body{
    background-color: #FFE4E1;
    color: #696969
}
body {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 640px;
    width: 95%
}

/* Body Header Styles */
h1{
    font-family: Verdana, "Courier New", sans-serif;
    display: block;
    text-align: center;
    color: #CD853F
}

h2 {
    font-family:"Courier New", Verdana, sans-serif;
    color: #DAA520;
}
/* Horizontal Navigation Styles */

li {
    float: left;
}

.topnav {
    position: relative;
    background-color:#FDF5E6 ;
    overflow: hidden;
    
}

.topnav a {
    float: left;
    display: block;
    color: #CD853F; 
    text-align: center;
    padding: 10px 100px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px;
}

.topnav-centered a {
    float: none;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/* Left Column Styles */


/* Right Column Styles */

section#rightColumn {
    float: right;
    clear: right;
    width: 50%
}



/* Footer Styles */
.baseFooter{
    position: absolute;
    bottom: 0;
    width: 100%;  
    font-size: 80%;
    color: #8B4513
}
a {
    text-decoration: none;
    color: #8B4513
}